[2021-05-08 08:10] jyotsna2893 opened #1 "Inference Time"
Hello, I am using MUSS in google colab notebook, earlier it was taking 3-4 minutes to simplify after downloading the model. I tried it 2 days back and still time taken is ~35 seconds. Is it the usual inference time or there is something I am missing?

[2021-05-09 11:24] louismartin commented on #1
Hi,

Yes the inference time using a GPU is about ~40 seconds, however 90% of the time is spent loading the model which is quite big.
As a result simplifying 1 sentence or 100 will take roughly the same time.

[2021-05-10 04:00] #1 closed

[2021-05-13 03:11] akafen opened #2 "missing file exploration.py"
When I want to trian models,error happends: can't find file muss/exploration.py

[2021-05-16 19:51] NomadXD opened #3 "AttributeError: module 'faiss' has no attribute 'METRIC_L2_DIST"
I'm getting the following error when I execute `python scripts/mine_sequences.py` .
[code]
Getting this error in both faiss-gpu and faiss-cpu. However when I use it as ` faiss.METRIC_L2` (without DIST), it works fine. Any idea about the issue ?

[2021-05-16 20:50] NomadXD commented on #2
@akafen I'm also having the same issue.

[2021-05-17 02:40] akafen opened #4 "ModuleNotFoundError: No module named 'muss.exploration'"
ModuleNotFoundError: No module named 'muss.exploration'

[2021-05-17 10:57] louismartin commented on #2
Hi, thanks for raising the issue, it should be fixed now.
Feel free to reoppen if you still have an issue.

[2021-05-17 10:57] #2 closed

[2021-05-17 10:57] louismartin commented on #4
Hi, thanks for raising the issue, it should be fixed now.
Feel free to reoppen if you still have an issue.

[2021-05-17 10:57] #4 closed

[2021-05-17 10:58] louismartin commented on #3
Hi @NomadXD
That's a good question, maybe it was changed in faiss.
I will rename it to METRIC_L2 then and hope it doesn't bring unforeseen bugs.

[2021-05-17 11:09] NomadXD commented on #3
@louismartin Thank you. Is there any specific configuration that I can use for training a small test sample ??? Like in `cc_net` we can provide the config as a json and tweak the config for a test sample. I just want to do few modifications and test it with a sample before training on actual data.

[2021-05-18 02:25] akafen opened #5 "train model failed"
I change cluster "local" to "debug" in scripts/train_model.py and I run the command "python3 scripts/train_models.py' ,but fail
The error :

The code:

[code]
When cluster is "local" ,train fail too

[2021-05-18 13:36] louismartin commented on #5
Hi @akafen ,
Thanks for pointing this issue, I'm currently fixing the bugs for model training and I hope I can give you an updated code soon.

[2021-05-18 13:37] louismartin commented on #3
Hi @NomadXD , I'm reoppening the issue for your question. I'm currently working on a simple script to do what you asked, hope to have some udpates for you soon.

[2021-05-18 19:35] NomadXD commented on #3
@louismartin Thank you very much. Really appreciate that !!

[2021-05-18 19:40] NomadXD commented on #5
@akafen Can you specify the infrastructure specs that you are trying to run the setup ? Like the GPUs and the memory .

[2021-05-19 01:59] akafen commented on #5
@NomadXD Of course I can specify the infrastructure specs that I am trying to run the setup.I am using one gpu to run the code

But I think  the error is not about the  infrastructure specs."Max sentences" is not the  arguments of fairseq-train is the error.From the error information:

"Max sentences" is an unrecognized arguments

[2021-05-19 10:18] louismartin commented on #5
Yes it's due to a problem in the fairseq version. I'm trying to find a solution to that right now :)

[2021-05-19 10:28] louismartin commented on #5
Basically the `--max-sentences` argument was removed in [this PR](https://github.com/pytorch/fairseq/commit/e3c4282551e819853952284681e9ed60398c5c4a) (fairseq>=0.9.0, that we install using pip) and was later added back for backward compatibility only in [this PR](https://github.com/pytorch/fairseq/issues/1369) (fairseq>=1.0.0a0 not yet on pip).

[2021-05-19 10:41] akafen commented on #5
@louismartin  I am using fairseq==0.10.2,so I should remove --max-sentences argument and change it to batch_size?

[2021-05-19 10:45] louismartin commented on #5
Yes that is the solution that I just pushed, I also made the training script simpler if you want to train a single model, maybe that can help as well.
Tell me if that works well on your end and we can close the issue.

[2021-05-19 10:47] louismartin commented on #3
I just made the training script simpler if you want to train a single model on google colab.
Tell me if that works well on your end and we can close the issue.

If you want to also mine the data, you will have to run all the mining pipelline, I am not sure that it will work on google colab, but you can try.

[2021-05-19 15:49] Dadox opened #6 "Simplify Failed"
After installing all the dependencies (pip install -e .), I launched the python script for simplify the french text given in exemple and the command failed. (python scripts/simplify.py scripts/examples.fr --model-name muss_fr_mined)

`python scripts/simplify.py scripts/examples.fr --model-name muss_fr_mined
fairseq-generate  /home/unapei-muss/admin/tmp/tmp3iwo639d --dataset-impl raw --gen-subset t

[2021-05-19 15:53] louismartin commented on #6
Can you try to unmute the stdout on your side by replacing [this line](https://github.com/facebookresearch/muss/blob/b6dc5b3127882c608283498fdd814978e65030aa/muss/fairseq/base.py#L182) with:

[code]

If that doesn't help find the source of the error you can maybe try to locate it more precisely with a breakpoint around the [same line](https://github.com/facebookresearch/muss/blob/b6dc5b3127882c608

[2021-05-19 19:07] louismartin commented on #6
This is most likely due to an out of memory error (not enough RAM to load the model).

[2021-05-19 19:07] #6 closed

[2021-05-21 07:04] Atharva-Phatak commented on #5
@louismartin Any plans on porting this to PyTorch ?

[2021-05-21 09:45] louismartin commented on #5
Hi @Atharva-Phatak ,

Thanks for the message, fairseq uses pytorch. There is no plan do use something else.

[2021-05-21 09:47] louismartin commented on #3
Hi @NomadXD , you need to install spacy's model with `python -m spacy download en_core_web_md`

[2021-05-21 16:05] hajijesmaili opened #7 "Download Problem"
Hello
when I run this commmand
cd muss/
pip install -e .

my cmd log stop here
Please help me
![error](https://user-images.githubusercontent.com/35924238/119166616-17035880-ba74-11eb-930f-3ce13470e48d.png)

[2021-05-21 16:09] hajijesmaili commented on #7
I run this command in Windows OS

[2021-05-21 17:50] louismartin commented on #7
Hi, thanks for the issue.

Windows is sadly not supported, only Linux or macOS. I am afraid you will be on your own on this one.

[2021-05-22 07:34] hajijesmaili commented on #7
Thanks
I run this on Mac OS  Unfortunately I faced this error
[](url)

[2021-05-22 07:35] hajijesmaili commented on #7
Collecting faiss-gpu
  Downloading faiss-gpu-1.7.0.tar.gz (34 kB)
  WARNING: Generating metadata for package faiss-gpu produced metadata for project name faiss-cpu. Fix your #egg=faiss-gpu fragments.
ERROR: Exception:
Traceback (most recent call last):
  File "/Users/apple/opt/anaconda3/lib/python3.7/site-packages/pip/_internal/cli/base_command.py", line 186, in _main
    status = self.run(options

[2021-05-22 07:35] hajijesmaili commented on #7
![Uploading Screen Shot 2021-05-22 at 12.05.29 PM.png…]()

[2021-05-22 08:15] louismartin commented on #7
Thanks for pointing this out, it seems like faiss-gpu is not straightforward to install on macos.
I see three possible solutions
1) Use faiss-cpu instead of faiss-gpu in requirements.txt
2) Use linux instead of macOS
3) Install faiss GPU following instructions you can find such as: https://gist.github.com/maxime/ef3fae0c2cf255fcb5c123978ec70da5

[2021-05-22 08:16] louismartin commented on #5
@akafen did it solve your issue?

[2021-05-22 08:16] louismartin commented on #3
Closing but feel free to open a new issue if you have further questions or problems

[2021-05-22 08:16] #3 closed

[2021-05-22 08:17] louismartin commented on #5
I'm closing the issue but feel free to open a new issue if you have further questions or problems.

[2021-05-22 08:17] #5 closed

[2021-05-22 09:44] hajijesmaili commented on #7
just a question
does your method simplify this kind of sentences?
"Barack Obama, a former U.S president, was born in Hawai"
to this splits?
"a former U.S president, was born in Hawai"
"Barack Obama, was born in Hawai"

[2021-05-24 06:54] akafen opened #8 "train model failed again"
Using the latest code
The error is below:

By the way,It happens in find_best_parametrization.But when I change the max_update from 50000 to 50 in fairseq/base.py, it seems fine.I check the ulimit in my machine:

By the way, max-sentences error also happens in find_best_parametrization using get_mbart_kwargs

[2021-05-27 09:28] louismartin commented on #7
Hi @hajijesmaili
I am not sure, you can verify it by using the `scripts/simplify.py` script and giving a file as input containing your sentence.

[2021-05-27 09:31] louismartin commented on #8
Hi @akafen thanks for raising this issue!

It seems that it's not a bug coming from MUSS but rather from torch or your system. Have you checked this issue https://github.com/pytorch/pytorch/issues/11201 ?

[2021-05-27 09:36] louismartin commented on #8
Concerning the max-sentences error, can you check that [this commit](https://github.com/facebookresearch/muss/commit/f233461d1e7d1c809bde8cc69e429bd425895e0f) fixes the issue?

[2021-05-27 10:37] akafen commented on #8
@louismartin ok, thanks

[2021-06-02 05:30] prabhakar267 opened #10 "Unable to process large dataset"
I'm trying to run the simplify script on WMT14 dataset. After 2 days of processing, the script failed with the following error. Any fixes?

I do not get any errors when running on a smaller dataset.

[code]

[2021-06-03 08:27] louismartin commented on #10
Hi,

Thanks for raising this issue. I'm not sure what's the problem exactly, but maybe you should split your dataset into smaller files and process them separately.
I never tested the simplified script on large files.
I'm closing this issue for now, but feel free to reopen or to comment if you have further issues

[2021-06-03 08:27] #10 closed

[2021-06-03 08:27] #8 closed

[2021-06-03 08:27] #7 closed

[2021-06-03 11:57] Atharva-Phatak opened #11 "Generate multiple Output sentences using the simplify.py script."
Hello, I am trying to generate multiple simplifications using simplify.py. I understand the simplify.py uses _fairseq_generate function where you can specify num_hypothesis and best. I increase the num_hypothesis = 12 and nbest = 5. But I am still getting a single simplification whereas it should output multiple simplifications since nbest = 5.

Can you guide me how to generate more simplification

[2021-06-03 15:52] louismartin commented on #11
Hi, thanks for the question.
You can fiddle with the code here to find the top-k beam hypothesis: https://github.com/facebookresearch/muss/blob/278ec841a2bf029ed02feaf3224d623be7a697ea/muss/fairseq/base.py#L191

You could also generate other simplifications by changing the control tokens here: https://github.com/facebookresearch/muss/blob/278ec841a2bf029ed02feaf3224d623be7a697ea/muss/simplify.py#L

[2021-06-03 15:56] Atharva-Phatak commented on #11
@louismartin Can you explain more about what this line does ``` predictions = [hypotheses[hypothesis_num - 1] for hypotheses in all_hypotheses] ``` ?

[2021-06-03 16:00] louismartin commented on #11
When `hypothesis_num=1` it will always take the first hypothesis of the beam search as output, if `hypothesis_num=2` it will always select the second ...
You can play around and inspect the variables by adding a breakpoint just before this line `import pdb; pdb.set_trace()`.

[2021-06-14 07:57] Atharva-Phatak commented on #11
@louismartin Thank you for the respone I was able to generate multiple sentences. After reading your paper I understood that you are getting almost comparable results using ParaNMT dataset.
Will you please elaborate the preprocessing steps you took while using  ParaNMT dataset ? By preprocessing I mean like cleaning, etc.
I would very much appreciate if you will be able to tell me ?

[2021-06-14 09:04] louismartin commented on #11
Hi @Atharva-Phatak , I didn't clean the ParaNMT dataset and applied the same preprocessing as for wikilarge i.e. SentencePiece subword tokenization and fairseq binarization.

[2021-06-14 09:53] psawa opened #12 "Simplification not working with python 3.9"
Hi,

In a python 3.9 environment, I could not run the simplification script - I was having this error :

[code]

Downgrading to python 3.7 and re running the setup fixed it. I'm reporting this since 20848f6dacf2c0b414a972bf463b72948d7dea2f was intended to fix compatibility with 3.9, but it seems not to be working.

Anyhow, thanks for this great piece!

[2021-06-14 09:56] louismartin commented on #12
Hi, thanks for raising this issue !

Are you sure that fairseq was at the 0.10.0 version as intended when you were in python 3.9 ? Sometimes it does not downgrades already installed libraries...
You should be able to force a downgrade of fairseq with `pip install fairseq==0.10.0`

[2021-06-14 14:33] psawa commented on #12
I checked at that moment with `pip list`, and fairseq had the expected version (0.10.0). (It was a fresh install)

[2021-06-14 14:39] louismartin commented on #12
Ok that's weird :O
Let me check on my end as well.

[2021-06-16 08:51] louismartin commented on #12
For future reference, we cannot install 0.10.2 on python 3.9 due to this bug: https://github.com/pytorch/fairseq/issues/3535

[2021-06-16 08:58] louismartin commented on #12
Yes I can reproduce the bug with python 3.9 and fairseq 0.10.0, I don't understand where it comes from but maybe the best thing is to downgrade to python < 3.9 for now until fairseq updates to a new version.

[2021-06-23 14:59] Atharva-Phatak commented on #11
Can we finetune the pretrained MUSS model on further data. If so how do I do it ? which scripts to use ?

[2021-06-23 15:15] louismartin commented on #11
Hi, I guess it is possible, you would have to modify the `fairseq-train` arguments to load the pretrained model: https://github.com/facebookresearch/muss/blob/04869c3058cd23c9e014dc3ca915c79e1f1ecba7/muss/fairseq/base.py#L106
Maybe just specifying a save_dir where the model is would be sufficient, but I'm not 100% sure. You should check the fairseq documentation for that.

[2021-06-23 15:21] Atharva-Phatak commented on #11
Do you think training it on further data will improve simplifications ? Also I wanted to ask did you pretrain the BART model on mined data. Or did you use Mined data in a supervised fashion as sentence pairs ?

[2021-06-23 15:26] louismartin commented on #11
Training on further data will improve the simplifications if the data is of good quality.
We took the BART pretrained model that's available open-source and then finetune it in a supervised fashion on the mined paraphrases as sentence pairs.

[2021-07-07 22:20] lmvasque opened #13 "UnicodeEncodeError: 'ascii' codec can't encode character '\u2010' in position 48: ordinal not in range(128)"
Hi @louismartin,

Thanks for this publishing this work, really nice!

Regarding my inquiry, this is similar to the issue I've posted on [easse](https://github.com/feralvam/easse/issues/87). On this model, I'm also getting encoding errors when simplifying a list of sentences. I've added the same *encoding='utf-8'* and it stopped reporting this error.

Here are my diff files:
[code]

I'll appreciate

[2021-07-08 13:09] psawa opened #14 "Preprocess the mined corpus with new control tokens"
Hi,

I am exploring MUSS for sentence simplification, and I would like to add restrictions to the simplification style.  Let's say that I'd like to ban the generation of sentences in complicated tenses, for example.

My idea is to preprocess the mined corpus with new control tokens that would fit my needs, in addition to the 4 control tokens presented in the paper.

Is it a technique that makes se

[2021-07-08 17:39] louismartin commented on #14
Hi,

Yes that would be a good idea.
You would have to add a new preprocessor class here: https://github.com/facebookresearch/muss/blob/main/muss/preprocessors.py
(Sorry there is not much documentation, maybe try to get inspiration from [this one](https://github.com/facebookresearch/muss/blob/ed70446abdbebce4513123c376e40f5ff05290a0/muss/preprocessors.py#L281)).

Then you would need to train the mo

[2021-07-09 09:28] psawa commented on #14
Many thanks, I will investigate this!

[2021-07-09 09:28] #14 closed

[2021-07-19 13:58] #11 closed

[2021-07-22 08:04] NomadXD opened #15 "[Help wanted] Fine tune pre-trained muss(mbart-large-cc25) with mined paraphrases (si_LK)"
For my final year research project, I'm using this approach as my baseline and trying to do text simplification for Sinhala language (native language used in Sri Lanka). I don't have enough infrastructure to run the `cc_net` pipeline to crawl language data but I used several already existing sources (15.7 million plain sentences) and mined them to get  paraphrases. Now as the next stage I'm trying

[2021-07-23 12:20] louismartin commented on #15
Hi,
I'm not sure what is the problem here.
Can you paste the output of the script along with the error?

[2021-07-28 11:19] NomadXD commented on #15
@louismartin Thanks a lot for the response and sorry for the late reply. I fixed the OOM issue by tweaking the hyper-parameters like batch size, max_tokens etc and added `--memory-efficient-fp16`. So after fine tuning with 6000 mined sentences, the model predict mostly paraphrases and very few simplifications.

Now I'm trying to get a larger parallel mined paraphrase dataset by running the `script

[2021-07-31 12:19] louismartin commented on #15
Hi @NomadXD
Thanks for the questions.
Overall the mining process is very resource intensive and was run in parallel on hundreds of instances.
Maybe try with a smaller amount of sentences and increase iteratively.

You can maybe remove the `with mute():` statement [here](https://github.com/facebookresearch/muss/blob/ed70446abdbebce4513123c376e40f5ff05290a0/muss/laser.py#L45) to get more information

[2021-08-02 06:52] louismartin commented on #13
Hi Laura,
Thanks for the issue and sorry for the delay.
Can you open a pull request on the repo with your proposed changes ? :)
Thanks

[2021-08-02 06:56] louismartin commented on #13
By the way, which version of python are you using?

[2021-08-03 21:14] lmvasque commented on #13
No.. actually is Python 3. This is what I have in my environment:
Python 3.6.5 |Anaconda, Inc.| (default, Apr 29 2018, 16:14:56)

[2021-08-03 21:15] lmvasque commented on #13
Hi Martin,
No worries, I'm still working on it. Sure, let me try that. I'll let you know when is ready :)
Thanks!

[2021-08-03 23:46] lmvasque commented on #13
It's ready now, however, I have no idea about the CLA.. let me ask about that before.

[2021-08-04 00:08] pelican9 opened #19 "get_easse_report_from_exp_dir Failed"
Hello, I am running train_mode.py but get_easse_report_from_exp_dir fail. This is the error

[code]

I printed out where the error occurs and it showed that
[code]
which I suppose should be like this?
[code]

I am not sure how to make this change happen without impacting the outcome of the code. I'll appreciate any advice. Thank you in advance!

[2021-08-04 08:06] louismartin commented on #19
Thanks for raising this issue!
I'm working on this bug, in the meantime maybe you can just comment out this line: `shutil.move(get_easse_report_from_exp_dir(exp_dir, **kwargs), report_path)`

[2021-08-04 08:11] louismartin commented on #19
Just pushed a fix in easse.
Can you please reinstall easse? `pip uninstall easse && pip install -r requirements.txt`

[2021-08-04 10:40] pelican9 commented on #19
Hi Martin, thank you for your quick response!

I reinstalled easse and tried to get easse report using muss_en_wikilarge_mined. However, the following error occurred. I have ran torch.cuda.empty_cache() before running get_easse_report_from_exp_dir. Do you have any idea why this happening? Thank you in advance.

(I also tried generating simplified sentences using my local asset/valid.complex with t

[2021-08-04 12:33] louismartin commented on #19
Hi @pelican9 I'm not sure how to solve this issue.
Please keep me updated if you have any updates, it might help other people!
Best,
Louis

[2021-08-04 13:37] pelican9 commented on #19
sure! I will keep you updated :)

[2021-08-06 03:03] akafen opened #20 "Could you provide spm_tokenizer and kenlm model"
[code]

I find dataset generation need spm_tokenizer and kenlm_model.arpa, could you provide them?

[2021-08-06 07:35] louismartin commented on #20
Hi @akafen , let me come back to you as soon as possible on this.

[2021-08-06 10:45] akafen commented on #20
Ok.thanks

[2021-08-12 09:13] louismartin commented on #20
Hi @akafen , sorry for the delay.
Can you please tell me which model/language you are using?
Maybe you can just use `print(model_dir)` in each of the functions you mentioned.

[2021-08-12 09:17] akafen commented on #20
@louismartin  I am trying to reproduce en_mined model, but I need to generate dataset first. But dataset generation need spm_tokenizer and kenlm_model.arpa and I don't know how to get them

[2021-08-19 11:01] akafen commented on #20
Hello @louismartin ,you could tell me how to generate 'spm_tokenizer-merges.txt' and 'spm_tokenizer-vocab.json',that would be also enough

[2021-08-23 14:42] louismartin commented on #20
I'm closing this issue for now but feel free to comment or open again if needed.

[2021-08-23 14:42] #20 closed

[2021-08-30 02:43] akafen opened #21 "Cannot allocate memory"
I try to reproduce dataset generation. But when I run scripts/mine_sequences.py , it was always killed. I think that it could be beacuse of memory.
My hardware:
uname -a :

free -m:

I generate 10 ** 6 sentences, and it was killed when compute embeddings,I dont know how to fix this

[2021-08-30 08:22] louismartin commented on #21
Hi @akafen , maybe you can reduce the number of tokens when computing laser embeddings here: https://github.com/facebookresearch/muss/blob/8b016942d9d0984866f6832594c049a189c1b46e/scripts/mine_sequences.py#L99

You can also remove the mute statement here if you think it happens when computing laser embeddings: https://github.com/facebookresearch/muss/blob/8b016942d9d0984866f6832594c049a189c1b46e/m

[2021-08-30 08:24] akafen commented on #21
@louismartin thanks! I will try both

[2021-09-07 15:11] pelican9 opened #23 "Metrics calculation for ASSET TEST Gold Reference"
Hi,
May I know how the metrics for ASSET TEST gold reference is calculated? I tried to do it in a leave-one- out scenario where each reference is evaluated against all others but the SARI is a little bit different to the result listed in the paper but FKGL is the same. It would be great if I can know what is wrong with my understanding. Following is my code
[code]
which gives
[code]

[code]
And th

[2021-09-08 10:30] louismartin commented on #23
Hi @pelican9 that's  a good question!
The code that I used to do this computation is here: https://github.com/facebookresearch/muss/blob/8b016942d9d0984866f6832594c049a189c1b46e/muss/mining/training.py#L353

I think the difference is that I might have duplicated one of the references so that the method does not change the total number of references used.
Does that make sense?

[2021-09-08 21:42] pelican9 commented on #23
Hi, @louismartin Yes, it makes sense to me. Thank you for providing the location of the source code. It's exactly what I wanted!

If you don't mind, may I ask another question about ACCESS? In the paper _Controllable sentence simplification_, it is mentioned that "Special tokens are then included in the vocabulary (40 unique values per parameter token)." Would you mind advising me where I can find

[2021-09-09 10:53] louismartin commented on #23
Hum that's a good point, for the original ACCESS, the special tokens were added in the fairseq vocabulary only ([see here](http://dl.fbaipublicfiles.com/access/best_model.tar.gz)).
Sentence piece is only used to tokenize the raw text and it isn't applied on the special tokens.

Related to MUSS, as we used the pretrained model BART, we couldn't modify the vocabulary, so indeed the special tokens ar

[2021-09-09 11:14] pelican9 commented on #23
I see :) Thank you for your quick response!

[2021-09-09 11:15] #23 closed

[2021-09-22 15:21] #21 closed

[2021-09-27 09:24] #15 closed

[2021-09-27 09:24] #12 closed

[2021-10-04 23:47] oskrmiguel opened #24 "Hello, when I run the pretrained model I get this error"
Hello, when I run the pretrained model I get this error

] [-t TARGET] [--load-alignments]
                   [--left-pad-source BOOL] [--left-pad-target BOOL]
                   [--max-source-positions N] [--max-target-positions N]
                   [--upsample-primary UPSAMPLE_PRIMARY] [--truncate-source]
                   [--num-batch-buckets N] [--eval-bleu]
                   [--eval-bleu-d

[2021-10-06 10:03] sadakmed opened #25 "default model_name is not in the ALLOWED_MODEL_NAMES"
https://github.com/facebookresearch/muss/blob/2b175f1507d7790ee83535b08c1b29cd3dd27a72/muss/simplify.py#L62

[2021-10-07 14:25] #25 closed, assigned to nobody

[2021-10-08 10:25] #13 closed

[2021-10-08 10:25] louismartin commented on #24
I'll close the issue for now but feel free to reopen when needed

[2021-10-08 10:25] #24 closed

[2021-10-10 02:21] oskrmiguel commented on #24
Hello it's the command
!python '/content/drive/MyDrive/Colab Notebooks/muss/scripts/simplify.py' '/content/drive/MyDrive/Colab Notebooks/muss/scripts/examples.es' --model-name muss_es_mined

Running in Colab

[2021-10-10 02:55] oskrmiguel opened #26 "simplify.py: error: unrecognized arguments: Notebooks/muss/resources/models/muss_fr_mined/model.pt"
Hello when I run this command

!python '/content/drive/MyDrive/Colab Notebooks/muss/scripts/simplify.py' '/content/drive/MyDrive/Colab Notebooks/muss/scripts/examples.fr' --model-name muss_fr_mined

in Google Colab I get this error

INFO:root:Generating grammar tables from /usr/lib/python3.7/lib2to3/Grammar.txt
INFO:root:Generating grammar tables from /usr/lib/python3.7/lib2to3/PatternGrammar.txt

[2021-10-11 08:36] louismartin commented on #26
Which version of fairseq do you have installed?
`!pip freeze | grep fairse` or `import fairseq; print(fairseq.__version__)`

[2021-10-11 22:10] oskrmiguel commented on #26
fairseq==0.10.2
0.10.2

[2021-10-13 00:27] odigab opened #27 "Training error: hydra error. Parameter lr_scheduler.total_num_update=null"
Hi,
I'm trying to train muss, but got an hydra error:

fairseq_prepare_and_train...
exp_dir=/scratch1/fer201/muss/muss-git/experiments/fairseq/local_1634083552326
fairseq-train /scratch1/fer201/muss/muss-git/resources/datasets/_9585ac127caca9d7160a28f1d8180050/fairseq_preprocessed_complex-simple --task translation --source-lang complex --target-lang simple --save-dir /scratch1/fer201/muss/muss-git

[2021-10-14 01:34] odigab commented on #27
working for prediction in a computer cluster fairseq==0.10.1

Would having fairseq==0.10.2 fix the issue?

[2021-11-02 10:31] Dadox opened #28 "Simplify in French"
![2021-11-02](https://user-images.githubusercontent.com/1596756/139830336-21684d7f-4a26-4f0a-8c78-6a3516d22dc7.png)

Could you check the simplify French version ?
In your French exemple file, after running the simplification, the cat become a dog ...

Thank's

[2021-11-03 10:17] louismartin commented on #28
Hi,

Yes I think this is just a model error here... Not sure if there is a quick fix for that.

[2021-11-14 19:59] sadakmed commented on #26
Hi @louismartin  when I was checking the resources it was created under `site-packages` and not under muss, can you confirm?

[2021-11-15 19:32] louismartin opened #29 "Resources in `site-packages`"
Original question by @sadakmed in #26
"Hi @louismartin when I was checking the resources it was created under site-packages and not under muss, can you confirm?"

[2021-11-15 19:32] louismartin commented on #26
Hi @sadakmed, thanks for the question, it's better to open a new issue for your question, head over to #29

[2021-11-15 19:32] #26 closed

[2021-11-15 19:34] louismartin commented on #29
Hi @sadakmed,
Thanks for the question, not sure I understand clearly but let me try to give some helpers.
If you installed the package using `pip install .` then it will be located in `site-packages`.  However if you installed in develop mode with `pip install -e .` it should not go in `site-packages`.

[2021-11-30 16:53] izaskr opened #30 "Mining sequences: reading in the CC dataset"
Hi,
Thank you for the great repo. I'm trying to mine sequences with `scripts/mine_sequences.py`, but the data does not get read at all.

Since I was unable to download the data from https://github.com/facebookresearch/cc_net as requested, I downloaded some parts of the French Common Crawl from the OSCAR corpus. When the prompt asks for the path to the data, I point to the directory which has a cou

[2021-12-02 11:40] louismartin commented on #30
Hi @izaskr , thanks for raising the issue and sorry for the late response.

The `*.json.gz` files are the format that is used in CCNet if I remember correctly.
I think if you want to use OSCAR you would have to replace the glob to find the files in the OSCAR format and then adapt the [`split_ccnet_shard`](https://github.com/facebookresearch/muss/blob/9a28b925c83c754d7d7a7a1966c5e4cc85355848/muss/m

[2021-12-14 10:04] #30 closed

[2021-12-15 19:36] #29 closed

[2021-12-15 19:39] #28 closed

[2021-12-15 19:39] #27 closed

[2022-01-11 12:15] pelican9 opened #31 "git clone Host key verification failed"
Hi,
I am trying to install MUSS but every time I get this error: I ran this code `git clone git@github.com:facebookresearch/muss.git` and the output is
[code]

When I use the code I downloaded last month and install the packages, this error occurs
[code]

Thank you in advance!!

[2022-01-11 16:21] #31 closed

[2022-02-07 08:54] chirico85 commented on #20
Dear @louismartin ,
Thank you for the great job! I am fascinated by your research.

Do you also have a german language model you could provide?

Best regards!

[2022-02-07 13:32] louismartin commented on #20
Hi @chirico85
Unfortunately we have trained the model only for English, French and Spanish.
Our code could be used to train a model in german but it would require non-trivial amount of compute / work.

[2022-02-09 14:31] tannonk opened #32 "mining paraphrases fails with time-out error"
Hi,

I'm currently trying to generate paraphrase corpora from cc_net using `mine_sequences.py` script. As a test run, I was hoping to mine sentence pairs from just a couple of cc_net corpus files (e.g. `0000/en_head.json.gz`, `0001/en_head.json.gz`). However, the job fails during mining.

I haven't been able to find any answers in the issues so far and would appreciate any guidance on solving this

[2022-02-10 15:11] louismartin commented on #32
Probably here: https://github.com/facebookresearch/muss/blob/9a28b925c83c754d7d7a7a1966c5e4cc85355848/scripts/mine_sequences.py#L166

[2022-02-12 20:13] sc16s2w opened #33 "Can not get alignment to interpret the model behavior"
Hi, I am currently trying to get the output of  alignment, source sentence and hypotheis, I want to print the source sentence, the alignment, the hypothesis, but my output is just shown as follows:
<img width="1261" alt="image" src="https://user-images.githubusercontent.com/44282471/153726843-055042bc-4466-4b85-be00-1daec7e50ab3.png">

 it is difficult for me to connect the score with the original

[2022-02-15 13:21] chirico85 commented on #20
For anyone interested in creating a kenlm model in another language, here is a helpful [repo](https://github.com/tiefenauer/wiki-lm). Further, I found some help to train a tokenizer, resulting in a merges.txt and vocab.json, reading this [blog](https://towardsdatascience.com/transformers-from-scratch-creating-a-tokenizer-7d7418adb403).

@louismartin, I followed both explanations and I got a kenlm

[2022-02-18 11:36] chirico85 commented on #32
Hi,

I got the same problem. I could catch some of the following errors:

Error 1:
Traceback (most recent call last):
  File "/home/chirico/pycharm-2021.3.1/plugins/python/helpers/pydev/_pydevd_bundle/pydevd_comm.py", line 292, in _on_run
    r = self.sock.recv(1024)
OSError: [Errno 9] Bad file descriptor

Error 2:
(<class 'joblib.externals.loky.process_executor.TerminatedWorkerError'>, Terminated

[2022-02-28 16:00] louismartin commented on #32
Hi @chirico85  yes probably changing the hyperparameters can help on different hardware, however I have written this code quite some time ago so I won't be of a big help here.

[2022-02-28 16:12] louismartin commented on #20
Hi @chirico85 and sorry for the delay.
I don't think I had problems with the merges.txt file on my side.

Hum the slope was selected manually by computing the probabilities on many sentences on my corpus and choosing a threshold that seemed reasonable, I probably should have designed a more reproducible for that. I think it does not have a big impact though.

No idea for the size of the model.arpa

[2022-02-28 16:16] louismartin commented on #33
Hi @sc16s2w and sorry for the delay.

I think this is due to the fact that BART uses GPT2 bpe and then sends the ids to fairseq hence why the text is not shown.
I don't think there is a simple way to recover the alignment.

[2022-02-28 17:20] sc16s2w commented on #33
Thanks for your help, I have already solved this question!

[2022-02-28 17:20] #33 closed

[2022-03-31 07:31] chirico85 commented on #32
Unfortunately, I chose the only for me "easy" way of running the code without using submitit. It worked. I think I do not have enough ressources for running the processes in parallel.
Thanks again!

[2022-04-01 09:55] chirico85 commented on #33
Hi @sc16s2w,
Please, could you share your solution?
Thanks.

[2022-04-04 09:22] #32 closed

[2022-04-14 08:11] chirico85 commented on #15
@NomadXD and @louismartin
I am also using mbart-large-cc25 with mined german paraphrases. After training, inference provides only dots and commas. Did you experience similar issues in your case?
I must say, that I had to prune pretrained mbart before training due to OOM issues on 1 gpu.
I did that following these scripts #https://github.com/pytorch/fairseq/issues/2120#issuecomment-647429120 and #h

[2022-04-14 08:16] louismartin commented on #15
Hi @chirico85

I haven't experienced only dots and commas. It might be due to pruning mbart. Can you maybe prune other layers like some layers in the middle? Or one layer out of two spread out in the whole model?

Yes it seems that BART know some other languages out of the box.

I don't think having no german evaluation dataset is problematic, it's only used for evaluation (maybe double check that

[2022-04-25 05:49] chirico85 commented on #15
Hello @louismartin,
Again, thanks a lot for your fast reply. I tried getting some help on the fairseq repo issues section where they discuss the approach of prunning mbart, too. No answer yet.

I did not try out yet prunning other layers like some layers in the middle. which effect do you expect?
As far as I understand, the approach just incorporates reducing the dictionary size of pre-trained mba

[2022-04-28 10:16] chirico85 commented on #15
Hello @louismartin,
It works now.
Unfortunately I cannot exactly say why it was not working. I think the error must be in the wrong format of dict.txt after preprocessing with bpe and later inferencing.  Somewhat did not match (thats why I got many unks). Prunning was not the reason.
However, I ran all the preprocessing and training step by step as described in some of the comments in #https://git

[2022-04-29 10:00] plugandplay opened #34 "Need help to get better performances"
Hello,

It is the first time that I use this project. I tried to use an example from the [README](https://github.com/facebookresearch/muss/blob/main/README.md#simplify-sentences-from-a-file-using-pretrained-models) but I have a question about the execution speed.
The execution time is about from 40 to 60 seconds.
I have put timers in the muss code to find which part of the code is spending this ti

[2022-05-03 08:05] louismartin commented on #34
Hi,
Thanks for the issue.

Yes indeed the way it currently works is that it calls `fairseq`'s generate cli interface which will:
- Read the model on disk and load it on GPU (~30-40s)
- Do the inference (proportional to the number of input sentences but should be no more than a few seconds)

The problem with this approach is that it will reload the model on GPU every time `generate.cli_main()` is c

[2022-05-09 08:19] plugandplay commented on #34
Thank you for these guidelines, I will try then I'll tell you if I make it work.

[2022-05-19 08:32] chirico85 commented on #34
Hi @plugandplay ,
yes, reading the model takes a lot of time.
My workaround was creating a fastapi project and call `simplify_sentences(text, model)`. The first query takes long, but the following just a little portion of it.

[2022-05-19 08:48] chirico85 commented on #32
Hi @louismartin ,
I managed to start mining paraphrases within submitit. However, I cannot run 2 tasks at a time, because one task already uses 68% memory of my single GPU.
As you know 'mining paraphrases' is split into processing of batches first on CPU and then on GPU. I assumed, in case of processing 2 tasks at a time, slurm would wait to process on gpu until enough memory is available, i.e. af

[2022-05-19 09:33] louismartin commented on #32
Hi @chirico85
Then you should run your jobs sequentially instead of in parallel if your machine does not have the resources.
You can either remove submitit entirely an call the methods manually (e.g. call `compute_and_save_nn_batched()` directly instead of using `executor.submit`).
Or you can wait until each job is finished by calling `job.result()` just after submitting it (e.g. here https://gith

[2022-05-20 14:31] plugandplay commented on #34
Hello,

Thank you all.
I succedeed to make it run faster by putting muss behind a Flask API and by generating the simplifier only once.

Using an API make it possible to keep a context alive between requests. The `simplify.py` script run in 6s from the second call (the first call takes around 40s).

Then I tried to generate the simplifier only once by splitting the `simplify` function code. It imp

[2022-05-21 14:40] louismartin commented on #34
Hi @plugandplay  thanks a lot for sharing your code, if you want to link it in the README of this repo feel free to submit a PR :)
If I'm not mistaken, the model is still read from disk and loaded on GPU at each call to `simplifier(...)` [here](https://github.com/cleyrop/muss-docker-debug/blob/251e085b46aa50fd2551fd3f46b0e5fcccc1bb4f/resources/muss/simplify.py#L83).
This happens when [we call fair

[2022-05-21 17:16] louismartin commented on #34
Should be not too hard with huggingface Transformers:
After converting the checkpoint to transformers format (see [here maybe](https://discuss.huggingface.co/t/how-can-i-convert-a-model-created-with-fairseq/564/23), you could do something like:
[code]

[2022-05-24 10:44] chirico85 commented on #34
@louismartin Sorry for late response. Had some days off..
@plugandplay I am glad it worked for you, too! And thanks for sharing your docker project on this. I had it just running on a virtualenv.

In think there is no need anymore for me to share my code, since FastAPI and Flask work quite similar, right? Let me know in case u need something. I would love to colaborate.

By the way: Fairseq also o

[2022-05-24 10:47] louismartin commented on #34
Oh yes good point, `fairseq-interactive` would probably be the best approach, I forgot about that, thanks for sharing!

[2022-05-24 10:48] chirico85 commented on #34
I am glad I can help!

[2022-05-31 13:32] plugandplay commented on #34
Sorry for my late reply, thank you a lot for your messages.

I have just tested fairseq-interactive. After the model load, it answers very quickly, but I don't understand the response it gives me.
For example, when I try to simplify the sentence "Il fait super beau.", it gives me the following response (here is the full trace):

[code]
I thought it would give me the simplified sentence, but no. I

[2022-06-17 11:15] jkurlandski01 opened #35 "pip install returns 'subprocess-exited-with-error' on install of EASSE"
Under Python 3.8 and Python 3.7,  'pip install' fails when trying to install EASSE with this message:

[code]

[2022-06-20 14:27] louismartin commented on #35
It could be due to a deprecation on github side, I submitted a potential fix, can you pull and try again?

[2022-06-22 21:22] jkurlandski01 commented on #35
Thanks for your quick response. I have retried and now the install works perfectly.

By the way, cloning as given in the README fails for me:
[code]

But cloning with this command works correctly: `git clone https://github.com/facebookresearch/muss.git`

Thanks again.

[2022-06-23 08:10] louismartin commented on #35
Happy that it helped!

The other error is probably because you haven't set up a ssh key on github:
https://stackoverflow.com/a/12940681/4255993

[2022-06-23 08:10] #35 closed

[2022-07-31 05:13] TDteach commented on #34
@louismartin
@chirico85
Sorry for this interruption.

I want to use muss to simplify sentences on the fly. But, after reading above, I am still confused on how to integrate the following python code and command.
`preprocessors = get_muss_preprocessors(model_name)`
`composed_preprocessor = ComposedPreprocessor(preprocessors)`
`composed_preprocessor.encode_sentence("Il fait super beau")`
`fairseq-in

[2022-08-01 09:33] louismartin commented on #34
@TDteach I think the dictionary is downloaded automatically in the `repo/resources/` directory when you call e.g. `python scripts/simplify.py scripts/examples.fr --model-name muss_fr_mined`

[2022-08-05 10:39] chirico85 commented on #34
@plugandplay I think you mean prunning the bart or mbart (multilingual) model instead of the bpe model? I had to prune before finetuning because the original mbart model did not fit on my GPU. Pruning reduced the model size, since I only kept the german vocabulary and its weights.

[2022-08-09 09:07] chirico85 commented on #34
@louismartin I have a related topic to this question:
After finetuning the pretrained mbart model with `use_access=True`, how would you start fairseq-interactive and pass the 4 parameters DEPENDENCYTREEDEPTHRATIO, WORDRANKRATIO, REPLACEONLYLEVENSHTEIN and LENGTHRATIO? So far I just wrote in front of the input text the following, which worked: `DEPENDENCYTREEDEPTHRATIO_0.9 > < WORDRANKRATIO_1.0 > <

[2022-08-09 09:53] louismartin commented on #34
Yes I think this is the most appropriate way to do this as fairseq is not aware of special tokens, they are just included in the text before hand by the MUSS/ACCESS code.
Just make sure that the formatting is the same as the one that's used in the code (e.g. I don't think there is a space after `<` and before `>`).

[2022-08-10 07:00] chirico85 commented on #34
Ou! Yes, that is right! thank you : )

[2022-09-19 01:36] AssisRaphael opened #37 "There appear to be 1 leaked folder objects to clean up at shutdown"
Hello,

I'm trying to replicate your work for the portuguese language. I made some small adjustments to the code and I'm trying to run the sentence mining phase. However, I'm running into the following error:

[code]

At this first moment I'm trying to understand how the code works. I'm running with only 1 shard mined from cc_net and on a machine with 1 TESLA T4 GPU, 8vCPUs and 85GB of RAM. As I u

[2022-09-20 07:31] louismartin commented on #37
Hi @AssisRaphael , great to hear that you are trying to run simplification for portuguese.

## Related to your error
It looks like the script is not processing anything, can you double check that it actually found your shard and is doing anything with it?
[code]

I am not sure where the error comes from, but my guess is that the `leaked folder objects to clean up at shutdown` is not the cause of t

[2022-09-20 22:41] AssisRaphael commented on #37
Hello again @louismartin ,

I was able to work around the previous problem by reducing the number of documents per file (n_docs_per_file) in the sharding phase. However, now I'm having another problem in the computing embeddings phase. I imagine that this is another silent error, because in the logs it appears that the GPU memory overflows, but looking at the graphics, the GPU utilization doesn't

[2022-09-21 07:08] louismartin commented on #37
I see:
[code]
so yes it's probably due to the GPU memory.

Thanks a lot for tracking your experiments, that will be super useful on the repo, I wish I had done it as well :D

[2022-09-23 11:45] AssisRaphael commented on #37
Hello again!

I'm returning to comment that I managed to solve the GPU out of memory issue. I followed the recommendation given in [this issue](https://github.com/facebookresearch/muss/issues/32) to reduce the number of running jobs. I have now finished the paraphrase mining step.

[2022-09-23 11:45] #37 closed

[2022-09-24 11:48] AssisRaphael opened #38 "Error(s) in loading state_dict for BARTModel"
Hello,
Recently I managed to train the model for Portuguese and I had problems with the size of the model dictionaries. After training, I copied the files from the folder '/muss-ptBR/experiments/submitit_logs/4085/' where the model.pt, dict.simple.txt and dict.complex.txt and the file '/resources/datasets/_c234210b2ade71918a75f34527e40d50/sentencepiece.bpe.model' and moved them to the folder 'muss

[2022-09-26 06:02] louismartin commented on #38
Hi @AssisRaphael ,

I'm not sure where that problem comes from to be honest, it might indeed be related to mbart50. I'm a bit surprised that the vocabulary size is this small (5k?), multilingual language models are usually in the range of 250k vocab size.

I would debug by understanding where the mismatch comes from (what those weights correspond to, why 5544 and 5597) and then take a decision fro

[2022-09-26 08:00] chirico85 commented on #38
Hi @AssisRaphael ,
I also came across this error. But cannot really say how I solved it. I think there are many possibilities.
But first, I would give your model a name which results in True when checking `is_model_using_mbart(model_name)`
in simplify.py. That way, you make sure that sentencepiece.bpe.model is used according to your mbart model.

If I think of anything else to solve the problem, I

[2022-10-12 15:03] AssisRaphael commented on #38
Hi @louismartin  and @chirico85, thanks for the feedback.

I was training the model from an adaptation of the train_paper_model file. It seems to train two different models and the problem was occurring on the model that didn't use access. When I trained the model through the train_model file, everything went fine.

[2022-10-12 15:03] #38 closed

[2022-11-22 23:09] nishkalavallabhi commented on #24
I got the same error, running on terminal.

[2022-11-22 23:10] nishkalavallabhi commented on #24
I got the same error, running on terminal. I used the command as described in the readme.
python scripts/simplify.py scripts/examples.en --model-name muss_en_wikilarge_mined

[2022-11-24 15:59] louismartin commented on #24
Hi, thanks for reporting that issue.
Can you paste the full error here please?